@model IEnumerable<Frontend_Sistema_Votaciones.Models.UsuariosViewModel>

@{
    ViewData["Title"] = "Usuarios";
}

<header class="w-100 d-flex justify-content-between align-items-center p-2" style="background: rgb(255,255,255); min-height: 12vh;">
    <h2>Listado de @ViewData["Title"]</h2>
    <a href="~/" class="btn btn-primary" style="max-height: 40px; max-width: 150px; min-width: 100px">
        <i class="bi bi-house-door-fill"></i>
        Inicio
    </a>
</header>
<div class="card m-2 mt-4 p-3" style="overflow-x: auto">
    <header class="mb-4">
        <a id="btnNuevo" asp-action="Create" class="btn btn-outline-primary" style="max-height: 40px; max-width: 150px;" data-toggle="modal" data-target="#modal">
            <i class="bi bi-plus"></i>
            Nuevo
        </a>
    </header>
    <table id="dtAlcalde" class="table datatable display" style="width: 100%;">
        <thead style="color: #78e7ff;">
            <tr style="background: rgb(0,0,0)">
                <th>
                    @Html.DisplayNameFor(model => model.Usua_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usua_Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usua_Contra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usua_Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empl_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usua_Activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usua_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usua_Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usua_Contra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usua_Admin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empl_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rol_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usua_Activo)
                    </td>
                    <td style="width: 5%">
                        <div class="w-100" style="max-width: 250px">
                            <div class="d-flex w-100" style="gap: 5px;">
                                <a class="d-flex align-items-center justify-content-around btn btn-outline-warning btn-sm flex-grow-1" style="max-width: 100px" href="@Url.Action("Edit", new { Usua_Id=item.Usua_Id })">
                                    <i class="bi bi-pencil"></i>
                                    Editar
                                </a>
                                <a class="d-flex align-items-center justify-content-around btn btn-outline-secondary btn-sm flex-grow-1" style="max-width: 100px" href="@Url.Action("Details", new { Usua_Id=item.Usua_Id })">
                                    <i class="bi bi-eye"></i>
                                    Detalles
                                </a>
                                <button class="d-flex align-items-center justify-content-around btn btn-outline-danger btn-sm flex-grow-1" style="max-width: 100px" onclick="Eliminar('@item.Usua_Id')">
                                    <i class="bi bi-trash-fill"></i>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dtAlcalde').DataTable();
        });
        function Eliminar(Dept_Codigo) {
            $("#Usua_Id_Delete").val(Dept_Codigo);
            localStorage.setItem("#Usua_Id_Delete", Dept_Codigo);
            $('#modalEliminar').modal('show');
        }
    </script>
}

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new Frontend_Sistema_Votaciones.Models.AlcaldeViewModel())
            </div>
        </div>
    </div>
</div>