@model Frontend_Sistema_Votaciones.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmpleadoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empl_UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empl_UsuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empl_FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empl_FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empl_UsuarioModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empl_UsuarioModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empl_FechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empl_FechaModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empl_Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empl_Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Part_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Part_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carg_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carg_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empl_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empl_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept_Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept_Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sede_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sede_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesa_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesa_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vota_NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vota_NombreCompleto)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
