@model IEnumerable<Frontend_Sistema_Votaciones.Models.VotosPorMesasViewModel>

@{
    var listaVotosAlcaldes = ViewBag.ListaVotosAlcaldes as IEnumerable<VotosPorMesasViewModel>;
    var listaVotosPresidentes = ViewBag.ListaVotosPresidentes as IEnumerable<VotosPorMesasViewModel>;
    //var municipios = ViewBag.MunicipiosAlcaldes as IEnumerable<VotosPorMesasViewModel>;

    ViewData["Title"] = "VotosPorMesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="w-100 d-flex justify-content-between align-items-center p-2 text-center" style="background: rgb(255,255,255); min-height: 12vh;">
    <h1>Conteo de Votos</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Votar</a>
</header>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alcaldes</h5>
                <div id="pieChartAlcaldes"></div>

                @*<div class="form-group">
                    <label for="municipioDropdown">Seleccionar Municipio:</label>
                    <select id="municipioDropdown" class="form-control" onchange="actualizarGraficoAlcaldes()">
                        @foreach (var municipio in municipios)
                        {
                            <option value="@municipio.Muni_Codigo">@municipio.Muni_Descripcion</option>
                        }
                    </select>
                </div>*@


                <script>
                document.addEventListener("DOMContentLoaded", () => {
                    var seriesData = @Html.Raw(Json.Serialize(listaVotosAlcaldes.Select(m => m.TotalVotosAlcalde)));
                    var labelsData = @Html.Raw(Json.Serialize(listaVotosAlcaldes.Select(m => m.NombreAlcalde + " " + m.ApellidoAlcalde)));

                    new ApexCharts(document.querySelector("#pieChartAlcaldes"), {
                        series: seriesData,
                        chart: {
                            height: 350,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: labelsData
                    }).render();
                });
                </script>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Presidentes</h5>
                <div id="pieChartPresidentes"></div>

                <script>
                document.addEventListener("DOMContentLoaded", () => {
                    var seriesData = @Html.Raw(Json.Serialize(listaVotosPresidentes.Select(m => m.TotalVotosPresidentes)));
                    var labelsData = @Html.Raw(Json.Serialize(listaVotosPresidentes.Select(m => m.NombrePresidente + " " + m.ApellidoPresidente)));

                    new ApexCharts(document.querySelector("#pieChartPresidentes"), {
                        series: seriesData,
                        chart: {
                            height: 350,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: labelsData
                    }).render();
                });
                </script>

            </div>
        </div>
    </div>
</div>





<div class="card m-2 mt-4 p-3">
    <table id="dtVotosPorMesas" class="table" style="width:100%">
        <thead style="color: #78e7ff;">
            <tr style="background: rgb(0,0,0)">
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidatoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalVotos)
                </th>


           
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (item.Nombre == "Presidente" || item.Nombre == "Alcalde")
                {
                    <td style="background-color:#ffd800">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td style="background-color: #ffd800">
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidatoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalVotos)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidatoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalVotos)
                    </td>
                }




            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dtVotosPorMesas').DataTable();
        });
    </script>
    <script>
        function actualizarGraficoAlcaldes() {
            var selectedMunicipioId = document.getElementById("municipioDropdown").value;

            // Realiza una llamada AJAX para obtener los datos de alcaldes para el municipio seleccionado
            $.ajax({
                url: '/VotosPorMesa/VotosPorMesaListPorMunicipio',
                type: 'GET',
                data: { Muni_Codigo: selectedMunicipioId },
                success: function (response) {
                    // Actualiza el gráfico de alcaldes con los nuevos datos
                    var seriesData = response.map(function (item) {
                        return item.TotalVotosAlcalde;
                    });
                    var labelsData = response.map(function (item) {
                        return item.NombreAlcalde + " " + item.ApellidoAlcalde;
                    });

                    var pieChartAlcaldes = document.querySelector("#pieChartAlcaldes");
                    if (pieChartAlcaldes) {
                        var chart = new ApexCharts(pieChartAlcaldes, {
                            series: seriesData,
                            chart: {
                                height: 350,
                                type: 'pie',
                                toolbar: {
                                    show: true
                                }
                            },
                            labels: labelsData
                        });

                        chart.render();
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
}
